.main-banner {
    background-color: #2941ab;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1ED760;

    /* For the background Image */
    background-image: url('../images/bg/main.svg');
    background-size: 175%;
    background-position: 46% 4%;
    background-repeat: no-repeat;
}

.main-banner h1 {
    font-size: 12rem;
    line-height: 1.2;
}

.main-banner p {
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
}

.main-banner button {
    background-color: #1ED760;
    color: #2941ab;
    border: none;
    font-weight: 600;
    padding: 1.8rem 2.7rem;
    font-size: 1.4rem;
    border-radius: 3rem;
    margin: 2rem 0;
}

.main-banner button:hover {
    cursor: pointer;
    transform: scale(104%, 104%);
}
